@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding-top: 70px;
}
